<header class="header">
  <a href="/" class="header-logo">NodeJs</a>

  <nav class="header-nav">
    <ul>
      <li>
        <a href="/" class="<%= isActiveRoute('/', currRoute) %>">Home</a>
      </li>
      <li>
        <a href="/about" class="<%= isActiveRoute('/about', currRoute) %>">About</a>
      </li>
      <li>
        <a href="/contact" class="<%= isActiveRoute('/contact', currRoute) %>">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="header-btn">
    <button class="search-btn" aria-expanded="false">
      Search
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>

</header>