<div class="author">
  <h1 class="author-heading">Hi, I am Iris.</h1>
  <p class="author-body">Web developer & Fullstack</p>
</div>

<img src="/img/hero-img.jpg" alt="" class="hero-img" width="600" height="380">

<section class="articles">
  <h2 class="articles-heading">Latest Posts</h2>

  <ul class="article-ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="aritcle-list-date">Date</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="aritcle-list-date">Date</span>
      </a>
    </li>
  </ul>

  <a href="#" class="pagination">
    <i class="fa-solid fa-arrow-left"></i>
    View Older Posts
  </a>

</section>