<div class="author">
  <h1 class="author-heading">Hi, I am Iris.</h1>
  <p class="author-body">Web developer & Fullstack</p>
</div>

<img src="/img/hero-img.jpg" alt="" class="hero-img" width="600" height="380">

<section class="articles">
  <h2 class="articles-heading">Latest Posts</h2>

  <ul class="article-ul">
    <% data.forEach(post=> { %>
      <li>
        <a href='/post/<%= post._id %>'>

          <span>
            <%= post.title %>
          </span>
          <span class="aritcle-list-date">
            <%= post.createdAt %>
          </span>
        </a>
      </li>
      <% }) %>
  </ul>

  <% if (nextPage !==null) { %>
    <a href='/?page=<%= nextPage %>' class="pagination">
      <i class="fa-solid fa-arrow-left"></i>
      View Older Posts
    </a>
    <% } %>




</section>